body
    margin: 0
.main
    background: #bababa
    padding: 10px 0
    background-size: 100%
    .main_block
        max-width: 476px
        min-height: 933px
        background:	#fff
        display: block
        margin: 0 auto
        padding: 0 auto
        border-radius: 30px
        box-shadow: 0 6px 24px black
        &_image
            width: 30%
            display: block
            margin: 0 auto
            padding: 30px 0 30px 0
            transition: 0.5s all
            &:hover
                transform: rotate(0.5turn)
        &_button
            &_1
                width: 300px
                height: 60px
                display: flex
                justify-content: center
                align-items: center
                background:	#1E90FF
                margin: 0 auto
                padding-right: 20px
                text-align: center
                border-radius: 10px
                font-size: 20px
                font-family: Roboto
                text-decoration: none
                color: #FFF 
                text-align: center 
                text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21) 
                font-size: 25px 
                font-style: normal 
                font-weight: 400 
                line-height: 46px 
                text-transform: uppercase
                transition: 0.5s all
                &:hover
                    box-shadow: 0 6px 15px black
            &_2
                width: 300px
                height: 60px
                display: flex
                justify-content: center
                align-items: center
                background:	#FF4209
                margin: 0 auto
                padding-right: 20px
                text-align: center
                border-radius: 10px
                font-size: 20px
                font-family: Roboto
                text-decoration: none
                margin-top: 30px
                color: #FFF 
                text-align: center 
                text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21) 
                font-size: 25px 
                font-style: normal 
                font-weight: 400 
                line-height: 46px 
                text-transform: uppercase
                transition: 0.5s all
                &:hover
                    box-shadow: 0 6px 15px black
            &_3
                width: 300px
                height: 60px
                display: flex
                justify-content: center
                align-items: center
                background: #9932CC
                margin: 0 auto
                text-align: center
                border-radius: 10px
                font-size: 20px
                font-family: Roboto
                text-decoration: none
                margin-top: 30px
                padding-right: 20px
                color: #FFF 
                text-align: center 
                text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21) 
                font-size: 25px 
                font-style: normal 
                font-weight: 400 
                line-height: 46px 
                text-transform: uppercase
                transition: 0.5s all
                &:hover
                    box-shadow: 0 6px 15px black
            &_4
                width: 300px
                height: 60px
                display: flex
                justify-content: center
                align-items: center
                background:	#000
                margin: 0 auto
                padding-right: 20px
                text-align: center
                border-radius: 10px
                font-size: 20px
                font-family: Roboto
                text-decoration: none
                margin-top: 30px
                color: #FFF 
                text-align: center 
                text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21) 
                font-size: 25px 
                font-style: normal 
                font-weight: 400 
                line-height: 46px 
                text-transform: uppercase
                transition: 0.5s all
                &:hover
                    box-shadow: 0 6px 15px black
            &_5
                width: 300px
                height: 60px
                display: flex
                justify-content: center
                align-items: center
                background:	#FF1493
                margin: 0 auto
                padding-right: 20px
                text-align: center
                border-radius: 10px
                font-size: 20px
                font-family: Roboto
                text-decoration: none
                margin-top: 30px
                color: #FFF 
                text-align: center 
                text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21) 
                font-size: 25px 
                font-style: normal 
                font-weight: 400  
                text-transform: uppercase
                transition: 0.5s all
                &:hover
                    box-shadow: 0 6px 15px black
    .fa-brands
        position: sticky
        right: 56%
    .main_block_content_icons
        display: block
        text-align: center
        position: relative
        top: 190px
        &_contacts
            font-size: 20px
            font-family: Roboto
        .icons
            width: 8%
            margin-right: 5px
            margin-left: 5px
        .icons_link
            display: contents
        .netrunner
            font-size: 20px
            font-family: Roboto