@media (min-width: 320px) and (max-width: 576px)
    .main
        background: #bababa
        padding: 10px 0
        background-size: 100%
        .main_block
            max-width: 476px
            min-height: 933px
            background:	#fff
            display: block
            margin: 0 auto
            padding: 0 auto
            border-radius: 30px
            box-shadow: 0 6px 24px black
            &_image
                width: 30%
                display: block
                margin: 0 auto
                padding: 30px 0 30px 0
                transition: 0.5s all
                &:hover
                    transform: rotate(0.5turn)
            &_button
                &_1
                    width: 220px
                &_2
                    width: 220px
                &_3
                    width: 220px
                &_4
                    width: 220px
                &_5
                    width: 220px